<h1>Atividades</h1>

<br>

<div class="news" style="width: 650px; padding-left: 200px;">
	<ul>
		<% @activities.each do |a| %>
		    <li>
				<%= render_activity a %>
			</li>
		<% end %>
	</ul>
</div>