<div class="mysearch">
	<%= form_tag url_for(controller: "/global_search", action: "index"), method: 'get', class: "form-search", style: "margin: 0;" do %>
		<i class="icon-search"></i>
		<%= text_field_tag :gq, params[:gq], class: "search-query", placeholder: placeholder %>
	<% end %>
</div>