<ul class="dotted-horizontal-list">

	<% if project.likeCount!=0 %>
		<li><i class="icon-thumbs-up-alt"></i> <%= project.likeCount %></li>
	<% end %>

	<% if project.comments.count!=0 %>
		<li><i class="icon-comments"></i> <%= project.comments.count %></li>
	<% end %>

	<% if project.viewCount!=0 %>
		<li><i class="icon-eye-open"></i> <%= project.viewCount %></li>
	<% end %>

</ul>