<!-- Remember to pass in a hash value for "sortByOptions" -->
<% destinyPath = request.url %>

<!-- Options at the top of the table -->
<div class="row-fluid ctrlbar">
	<!-- Search Form --> 
	<div class="span3">
		<div class="pull-left">
			<%= render 'shared/search_form', destinyPath: destinyPath, placeholder: "Título / Descrição / Tag" %>
		</div>
	</div>

	<!-- "Sort By" option -->
	<div class="span6">
		<center>
			<%= render 'shared/sort_by_buttons',
					destinyPath: destinyPath,
					sortbyOptions: options_for_select(sortbyOptions),
					selected: @column %>
		</center>
	</div>

	<!-- Button group for choosing view (list or thumbnail) -->
	<div class="span3">
		<div class="pull-right">
			<%= render 'shared/viewmodes_buttons' %>
		</div>
	</div>

</div>