<center>
	<br>
	<div class="muted well well-small well-short">
		<i class="icon-search"></i> Encontrado<%=my_pluralize @numResults%> <strong><%= @numResults %></strong> resultado<%=my_pluralize @numResults%> para: 
		<strong><%=@query.split(" ").join(" · ")%></strong> 
		<% #link_to raw("<i class=\"icon-remove\"></i>"), params.merge(search: nil), class: "close" %>
	</div>
</center>