<div class="content">
	
	<h2> <%= title "Sobre" %> </h2>
	
	<center>
		<img src="/assets/logo.png">
	</center>

	<article>
	
		<i class="icon-info-sign icon-4x pull-left icon-border"></i>
		<p class="lead"> Este projeto nasceu como um trabalho para a disciplina Laboratório de Sistema de Software, em 2012/2, orientada pelo professor Pimenta. Continue lendo pra conhecer melhor o que nos motivou a implementar essa ideia.</p>

		<div class="text">
			<p>No curso de Computação na UFRGS é comum haver disciplinas com Trabalho Final, normalmente um projeto relativamente mais complexo do que trabalhos de implementação comuns. Frequentemente os alunos se esforçam nesses projetos não somente na questão técnica, aplicando os conhecimentos adquiridos na disciplina e exercitando conhecimentos de computação em geral, mas é notável também a criatividade empregada nessas tarefas. Alguns projetos são tão interessantes que poderiam não ser só um trabalho final de uma disciplina, mas evoluir para algo maior, como startups, artigos científicos, ou mesmo um projeto open-source permitindo o envolvimento da comunidade global. Mas quanto desse esforço e talento é de fato reconhecido, compartilhado e estimulado nos nossos cursos?</p>

			<p>Em efeito, muitos alunos divulgam esses projetos entre os colegas e amigos, e algumas vezes criam páginas pessoais em seus homes agregando alguns do trabalhos feitos durante o curso. Isso ajuda um pouco na divulgação, já que colegas trocam entre si os endereços de seus homes, mas é uma sobrevida curta: em poucos semestres esses links se perderam, caindo drasticamente a probabilidade de termos acesso a essas páginas ao passo que elas vão se distanciando da nossa barra.</p>

			<p>Para resolver esses problemas nós idealizamos o <text class="infhub-text">infHUB</text>, uma plataforma onde todos alunos terão acesso facilitado a ferramentas de armazenamento e publicação dos projetos acadêmicos dos quais mais se orgulham. Não só um Gestor de Conteúdo, nossa plataforma agregará funções de Rede Social, permitindo que colegas avaliem e comentem os trabalhos uns dos outros. Isso permitirá pela primeira vez na Universidade sintetizar relatórios de, por exemplo, os melhores trabalhos de Computação Gráfica de todos os tempos.</p>

			<p>É importante ficar claro que, mesmo que a ferramenta permita a “reciclagem” de trabalhos (o que poderia ter um contraefeito interessante, obrigando alguns professores a serem mais criativos...), esse não é o objetivo principal. Nosso objetivo é inspirar os alunos, motivá-los a usar toda sua criatividade em seus trabalhos, não só visando a nota dada do professor, mas também a satisfação pessoal e, a partir de agora, o reconhecimento da comunidade. Mais ainda, através do nosso site se destacarão os alunos com maior potencial de serem bons empregados: aqueles que aliam o conhecimento técnico desenvolvido nas disciplinas com sua criatividade, iniciativa, capacidade de planejamento, e tantos outros talentos que nem sempre são avaliados pelos professores ou refletidos no conceito final.</p>

			<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhub.inf.br&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:80px;" allowTransparency="true"></iframe>
		</div>

	</article>

</div>