<div class="center hero-unit">
	<h1>Home</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt odio ac nulla pulvinar volutpat ut vel lectus. Suspendisse potenti. Fusce at purus diam, vel rhoncus leo. Etiam faucibus suscipit lectus nec tincidunt. Maecenas vehicula nunc et dui egestas aliquam. </p>

	<p>Duis id sem sed elit porttitor laoreet. Nam eget ipsum ligula, nec auctor nulla. Etiam nec facilisis quam. :)</p>
	<p>
		<a href=<%=user_signed_in? ? projects_path : new_user_session_path%>> <button class="btn btn-info btn-large">Comece jรก!</button> </a>
	</p>
</div>