/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";


/* Import font from Google Fonts API */
@import url('http://fonts.googleapis.com/css?family=Inder&subset=latin,latin-ext');


/* Important globals */
$page_width: 70%;


html {
  width: $page_width; 
  margin: auto;
  background-image: url('patterns/light_toast.png');
}

body {
  font-family: 'Inder', sans-serif;
  font-size: 14px;
  line-height: 20px;

  background: none;
}

#wrap {
  padding-top: 60px;

  /*background-image: linear-gradient(to bottom, rgba(255,255,255, 0.100), rgba(230,230,230, 1));*/

  background-image: linear-gradient(top, rgb(255,255,255), rgb(230,230,230));
  background-image: -o-linear-gradient(top, rgb(255,255,255), rgb(230,230,230));
  background-image: -moz-linear-gradient(top, rgb(255,255,255), rgb(230,230,230));
  background-image: -webkit-linear-gradient(top, rgb(255,255,255), rgb(230,230,230));
  background-image: -ms-linear-gradient(top, rgb(255,255,255), rgb(230,230,230));

  -moz-box-shadow: 0 0 35px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 35px rgba(0,0,0,0.1);
  box-shadow: 0 0 35px rgba(0,0,0,0.1);
}

.container {
  width: 90%;

  article {
    $pad: 30px;
    padding-left: $pad;
    padding-right: $pad;
  }

  article.about p:first-letter {
    font-size: 22px;
  }
  article.about {
    p:first-letter {
      margin-left: 20px;
      font-weight: bold;
    }
  }
}

.block {
  $margin: 0px;
  $padding: 10px;
  margin: $margin $margin $margin $margin;
  padding: $padding $padding $padding $padding;
  background-color: rgba(0,0,0,0.03);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.navbar {
  border-bottom: 2px solid rgb(200,100,100);

  li, li:hover {
    border-bottom: 3px solid transparent;
  }
}

.hero-unit {
  /*background-color: rgba(255,150,0,0.1);*/
}

footer {
  /*font-size: 12px;*/
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
  padding-top: 10px;

  header {
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
  }

  img {
    opacity: 0.7;
  }

  ul {
    list-style-type: none;
  }
}

form {
  width: auto;
  position: center;
  background-color: rgba(0,0,0,0.05);

  padding: 20px 50px 20px 20px;
  margin-left: 50px;
  margin-top: 20px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  select {
    width: auto;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  label {
    font-weight: bold;
  }
}

p, h1, h2, h3, h4 {
	margin-left: 10px;	
}

p#authors {
  padding-left: 100px;
  float: none;
}

a#logo {
  float: left;
  padding-top: 9px;
  font-size: 1.7em;
  letter-spacing: -2px;
  font-weight: bold;
  line-height: 1;
  color: rgba(0,0,0,0.6);
  text-shadow: 1px 1px 1px #fff;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;  
}

a#logo:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.3);
  background: none;
}

label {
  display: inline
}

/* SPECIAL CODE FOR STICK FOOT(ER) */
  $foot_height: 200px;
  * {margin:0;padding:0;}
  html, body {height: 100%;}
  #wrap {min-height: 100%;}
  #main {
    overflow:auto;
    padding-bottom: $foot_height;}
  footer {
    position: relative;
    margin-top: -$foot_height;
    height: $foot_height;
    clear:both;}
  /*Opera Fix*/
  body:before {/* thanks to Maleika (Kohoutec)*/
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;/* thank you Erik J - negate effect of float*/
  }