/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

/* universal */

@import "bootstrap";
@import "bootstrap-responsive";

body {
	padding-top: 60px;
}

footer {
 /*position:absolute;
  bottom: 0;*/
  width: 100%;
  border-top:1px solid #e5e5e5;
  background-color:#f5f5f5;
}

p {
	padding-left: 30px;
}

h1, h2, h3, h4 {
	padding-left: 10px;	
}

form {
	padding-left: 30px;
}

.table {
  width: 70%;
}

a#logo {
  float: left;
  padding-top: 9px;
  font-size: 1.7em;
  letter-spacing: -2px;
  font-weight: bold;
  line-height: 1;
  color: rgba(0,0,0,0.6);
}

a#logo:hover {
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  background: none;
}
