<div class="content">

  <h2><%= title "Usuários" %></h2>

  <br>

  <%= render "shared/project_ctrlbar",
              hideFilterImagesOption: true,
              myPlaceholder: "Nome / Usuário",
              sortbyOptions: {"Data adicionado"=>"date",
                              "Nome"=>"name",
                              "Usuário"=>"nick",
                              "Nro. trabalhos"=>"projects",
                              "Semestre"=>"semester"} %>

  <!-- The listing itself -->
  <div class="row-fluid" id="people-table"> 
    <%= render 'people_dynamic_listing' %>
  </div>


</div>