<p>Eaí <%= @resource.email %>!</p>

<p>Alguém requisitou por meio do site para resetar tua senha, e tu podes fazê-lo pelo link abaixo:</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi tu quem pediu por isso, ou mudou de ideia, simplesmente ignore esse email.</p>
<p>Tua senha só será resetada de fato se clicares no link e criares uma nova.</p>